brew 'go'
cask 'nikitabobko/tap/aerospace'
cask 'visual-studio-code'
cask 'google-chrome'
cask 'kitty'
cask 'spotify'
cask 'eqmac' 
tap 'FelixKratz/formulae'
brew 'FelixKratz/formulae/borders'
brew 'tailscale'
brew 'opencode'
brew 'mise'
brew 'zoxide'